# Price Regression

In [1]:
from load import main
df = main()
df

,rating,alcohol,price,lat,lng,age,category_Dessert,category_Fortified,category_Port/Sherry,category_Red,...,reviewer_Layla Schlack,reviewer_Matt Kettmann,reviewer_Michael Schachner,reviewer_Mike DeSimone,reviewer_Paul Gregutt,reviewer_Roger Voss,reviewer_Sean P. Sullivan,reviewer_Susan Kostrzewa,reviewer_Virginie Boone,reviewer_other
0,87,0.0,32,-200.000000,-200.000000,22,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1,92,14.5,56,-200.000000,-200.000000,7,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
2,85,0.0,22,-200.000000,-200.000000,22,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
3,90,15.0,19,-200.000000,-200.000000,9,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
4,92,14.8,65,-200.000000,-200.000000,10,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323116,88,12.5,12,-200.000000,-200.000000,2,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
323117,80,13.4,9,36.436336,-99.398797,18,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
323118,89,14.5,0,-31.761336,-71.318770,4,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
323119,85,13.0,30,38.640500,24.047990,17,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
323120,87,13.5,14,-200.000000,-200.000000,10,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [2]:
from sklearn.model_selection import KFold, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import SelectKBest, chi2, RFE

In [3]:
X = df.drop("price", axis=1).values
y = df["price"].to_list()

In [ ]:
test = SelectKBest(score_func=chi2, k=4)
fit = test.fit(X, y)
print(fit) # Model

# Summarize Scores

print(fit.scores_) # Scores
features = fit.transform(X)

In [ ]:
kfold = KFold(n_splits=2, random_state=7, shuffle=True)
model = LinearRegression()
scoring = "neg_mean_squared_error"
results = cross_val_score(model, X, y, cv=kfold, scoring=scoring)
print(results)
print(f"Mean: {results.mean():}")
print(f"Std: {results.std():.3f}")